[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
gunicorn = "*"
flask = "*"
firebase-admin = "*"
pygithub = "*"

[dev-packages]

[requires]
python_version = "3.9"
