:root {
    --yellow: #ffff4b; /* titles */
    --green: #00ff00;
    --red: #ff0000; /* comments */
    --blue: #00ffff; /* data */
    --magenta: #00c0c0;
    font-size: 18pt;
}

* {
    font-family: 'AcPlus IBM VGA 9x14', 'Courier New', Courier, monospace;
    color: #fff;
    background-color: #000;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
  padding: 15px;
}

.comment {
  color: var(--red);
}

.comment::before {
  content: "// ";
}

.title {
  color: var(--yellow);
}

.data {
  color: var(--blue);
}

a.data::before {
  content: "[";
  color: var(--blue);
}

a.data::after {
  content: "]";
  color: var(--blue);
}

header h2 {
  margin-bottom: 2px;
}

header small {
  display: block;
  margin-bottom: 14px;
  font-size: 0.9rem;
}

header h1 {
  font-size: 1.8rem;
}

header ul {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

footer a {
  color: var(--blue);
}
