:root {
    --green: #00ff00;
    --red: #ff0000;
    --blue: #00ffff;
    --yellow: #ffff4b;
    --magenta: #00c0c0;
    font-size: 16pt;
}

* {
    font-family: 'AcPlus IBM VGA 9x14', 'Courier New', Courier, monospace;
    color: #fff;
    background-color: #000;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

small:first-of-type {
  font-size: 0.9rem;
  color: var(--red);
}

html, body {
    height: 100%;
}
