<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaquie's Portfolio</title>
    <!-- Roboto -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block css %}{% endblock css %}
</head>
<body>
    <header>
        <h2>Jaquie's Portfolio</h2>
        <h4>{% block title %}{% endblock title %}</h4>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </header>
    <main>
        {% block body %}
        {% endblock body %}
    </main>
    <footer>
        <ul>
            <li><a href="mailto:{{ email }}">{{ email }}</a></li>
            <li><a href="tel:{{ phone }}">{{ phone }}</a></li>
        </ul>
    </footer>
</body>
{% block js %}{% endblock js %}
</html>
