{% if spa %}

    {% for project in projects %}
        <article>
            <h3><a href="https://github.com/{{ project.get('name') }}">{{ project.get('name') }}</a></h3>
            <p>{{ project.get('description') }}</p>
        </article>
    {% endfor %}

{% else %}

    {% extends 'base.html' %}
    {% block body %}
        {% for project in projects %}
            <article>
                <h3><a href="https://github.com/{{ project.get('name') }}">{{ project.get('name') }}</a></h3>
                <p>{{ project.get('description') }}</p>
            </article>
        {% endfor %}
    {% endblock body %}

{% endif %}
