{% if spa %}

    {% for project in projects %}
        <a href="https://github.com/{{ project.get('name') }}">
            <article>
                <h3>{{ project.get('name') }}</h3>
                <p>{{ project.get('description') }}</p>
            </article>
        </a>
    {% endfor %}

{% else %}

    {% extends 'base.html' %}
    {% block body %}
        {% for project in projects %}
            <a href="https://github.com/{{ project.get('name') }}">
                <article>
                    <h3>{{ project.get('name') }}</h3>
                    <p>{{ project.get('description') }}</p>
                </article>
            </a>
        {% endfor %}
    {% endblock body %}

{% endif %}
